<p><strong><a href="http://localhost:{{port}}/register"> Register </a></strong></p>
<hr>
<form id="sing-user">
    <p> Email <input type="email" name="email"></p>
    <p> Password <input type="password" name="password"></p>
    <button type="submit" style="background-color:darkolivegreen">Sing</button>
</form>
<div id="singuser" style="background-color:darkolivegreen"></div>
<hr>


<p><a href="http://localhost:{{port}}/user"> User </a></p>
<p><a href="http://localhost:{{port}}/articles"> Articles </a></p>
<p><a href="http://localhost:{{port}}/image"> Image </a></p>
<p><a href="http://localhost:{{port}}/category"> Category </a></p>


<script src="../js/sing.js"></script>